@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image-parallax {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.background-image-parallax img.parallax-right  {
    object-fit: cover;
    width: calc(100% + 30vw);
    max-width: unset;
    display: block;
    height: 100%;
    margin: 0 calc(-3vw);
}

.background-image-parallax + div {
    position: relative;
    top:0;
}

.background-image-parallax img.parallax-up {
    object-fit: cover;
    width: calc(100% + 30vw);
    max-width: unset;
    display: block;
    height: 100%;
}

.background-image-parallax img.parallax-left {
    object-fit: cover;
    object-position: top center ;
    width: calc(100% + 90vw);
    max-width: unset;
    display: block;
    height: 100%;
    margin: 0 calc(-3vw);
}

.simpleParallax  {
    max-width: unset;
    display: block;
    height: 100%;
}
.background-image-parallax.charles-motorcycle {
    background-color: black;
}

.background-image-parallax.charles-motorcycle img{
    width: calc(100% + 30vw);
    object-fit: cover;
}


@media(max-width: 768px) {
    .background-image-parallax img.charles-presentation{
        width: 1937px;
        object-position: top right;
    }
    .background-image-parallax.charles-motorcycle img{
        width: calc(100% + 2vw);
        object-fit: cover;
    }


}

@media(max-width: 650px) {
    .background-image-parallax img.charles-presentation{
        width: 1914px;
        object-position: top right;
    }
}


@media(max-width: 400px) {
    .background-image-parallax img.charles-presentation{
        width: 2084px;
        object-position: top right;
    }
}

@media(max-width: 300px) {
    .background-image-parallax img.charles-presentation{
        width: 2478px;
        object-position: top right;
    }
    .background-image-parallax.charles-motorcycle img {
        width: calc(100% + 206vw);
        margin: 0 calc(-149vw);
    }
}


#hero {
    position: relative;
    height: fit-content;
    overflow:hidden;
}


@media(max-width: 768px) {
    #hero {
    }
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

#title #header-more{
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotate(0);
    transition: all 0.7s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

 /*Accordion*/
  .accordion-item-header {
    position: relative;
    cursor: pointer;
  }

  .accordion-item-header > div {
      margin-right: 35px;
  }

  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: .5rem;
    top: -0.58rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-header.active + .accordion-item-body{
      max-height: max-content;
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  .accordion-item-body-content {
    margin-top: 12px;
}
/*End Accordion*/

.user-cannot-see {
    display: none;
}

.text-shadow {
    text-shadow: 0 1px 3px #000;
}

#services-page {
    background-image: url('./images/presentation-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-overflow: hidden;
}


@media(max-width: 768px) {
    #services-page {
    background-image: url('./images/services-v2.jpg');
    background-position: center;
    background-gradient: rgba(-180deg 0,0,0,0.8);
    }
}

#projects-page {
    background-image: url('./images/projects-pg-v1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-overflow: hidden;
}

@media(max-width: 768px) {
    #projects-page {
    background-image: url('./images/projects-pg-v2.jpg');
    background-position: center;
    background-gradient: rgba(-180deg 0,0,0,0.8);
    }
}

#patents-page {
    background-image: url('./images/patents-pg-v1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-overflow: hidden;
}

@media(max-width: 768px) {
    #patents-page {
    background-image: url('./images/patents-pg-v2.jpg');
    background-position: center;
    background-gradient: rgba(-180deg 0,0,0,0.8);
    }
}

#about-page {
    background-image: url('./images/about-pg-v1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-overflow: hidden;
}

#about {
    background-position: center top;
    background-image: url('./images/about-home-1.png');
}
@media(max-width: 768px) {
    #about-page {
    background-image: url('./images/about-pg-v2.jpg');
    background-position: center top;
    background-gradient: rgba(-180deg 0,0,0,0.8);
    }
}
@media(max-width: 1200px) {
    #about {
        background-image: url('./images/about-parallax.jpg');
    }
}
@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    #services-page, #patents-page, #projects-page, #about-page, #about {
        background:none;
    }
    #services-page:after, #patents-page:after, #projects-page:after,
    #about-page:after, #about:after {
        content:"";
        position:fixed; /* stretch a fixed position to the whole screen */
        top:0;
        height:100vh; /* fix for mobile browser address bar appearing disappearing */
        left:0;
        right:0;
        z-index:-1; /* needed to keep in the background */
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #services-page:after{
        background-image: url('./images/services-v2.jpg');
    }
    #patents-page:after {
        background-image: url('./images/patents-pg-v2.jpg');
    }
    #projects-page:after {
        background-image: url('./images/projects-pg-v2.jpg');
    }
    #about:after {
        background-image: url('./images/about-parallax.jpg');
        background-position: center top;
    }
    #about-page:after {
        background-image: url('./images/about-pg-v2.jpg');
    }
}

ul, ol {
    margin-left: 20px;
    /*list-style-position: inside;*/
}